---
layout: main-landing
title: The CloudFx Community
permalink: /
cta: "landing_page"
sitemap:
  changefreq: daily
  priority: 0.8
header_class: "landing"
---
<div class="landing-page-content">
  {% include components/home-page/content-image.html image="workflow" heading="Research" content_markdown="Research together on latest technologies." %}

  {% include components/home-page/content-image.html image="editing" heading="Discussion" content_markdown="Discuss together on latest technologies." %}

  {% include components/home-page/content-image.html image="tools" heading="Sharing Knowledge" content_markdown="Sharing." %}

  {% include components/home-page/content-image.html image="preview" heading="Open Source" content_markdown="Open Source." %}
</div>

{% assign case = site.messages | where: "name", "Bhuwan" | first %}
{% include components/case-study/quote.html case=case %}



